<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body bgcolor="lightgreen"></body>

    <h1 style="text-align:center; color:rgb(255, 255, 255); font-size: 96px; background-color: rgb(29, 87, 27)">Fast Food</h1>
  
    <div style="display:flex; justify-content:center; align-items:center; height:100vh;">
        <a href="log_in">
        <button style="background-color: rgb(29, 87, 27); color: white; padding: 10px 20px; border: none; border-radius: 5px;">Login</button>
        </a>
        <br>
        <a href="sign_up">
            <button style="background-color: rgb(29, 87, 27); color: white; padding: 10px 20px; border: none; border-radius: 5px;">Signup</button>
        </a>
    </div>  

</body>


</html>
