<html>


<body bgcolor="lightgreen">
    <h1 style="text-align:center; color:rgb(255, 255, 255); font-size: 96px; background-color: rgb(29, 87, 27)">Fast Food</h1>
    <h2 style="text-align:center">Order confirmed!</h2>
    
    <div style="display:flex; justify-content:center; align-items:center; height:100vh;">
        <a href="/grocery_stores">
        <button style="background-color: rgb(29, 87, 27); color: white; padding: 10px 20px; border: none; border-radius: 5px;">Back To Shopping</button>
        </a>
    </div>
    

</body>


</html>